# ogserver systemd service file

[Unit]
Documentation=https://opengnsys.es/trac/wiki/En%%3ADocumentacionUsuario
Description=OpenGnsys server
Wants=mysql.service
After=mysql.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/opengnsys/sbin/ogserver -f /opt/opengnsys/etc/ogserver.json
